{% extends "base.html" %}
{% block body %}
 <!--Section: Contact v.2-->
<div class="container">
    <div class="row">
        <h1>
            Wasiliana na UVCCM MBEYA
        </h1>
        <p>Tunashukuru kupata maoni yako na kusikia mawazo yako. Tumia saraka iliyo hapa chini ili kuwasiliana nasi.</p>
    </div>
    <div class="row">
        <h1>
            Msaada wa kiufundi
        </h1>
        <p>Wasilisha changamoto zozote unazokabiliana nazo unapovinjari na blog au mapendekezo ya jinsi tunavyoweza kuboresha tovuti. Wasiliana na timu yetu ya kiufundi kwa <a href="mailto:lennoxlutinwa@gmail.com">lennoxlutinwa@gmail.com</a></p>
    </div>
    <div class="row">
        <h1>
            Maswali ya Jumla 
        </h1>
        <p>
            Kwa mapendekezo na maoni mengine yoyote ambayo hayalingani katika kategoria hizi, unaweza kuwasiliana nasi kupitia  <a href="mailto:mzumi2456@gmail.com">mzumi2456@gmail.com</a> 
        </p>
        <p>
            Timu ya UVCCM itajibu barua pepe ndani ya siku tatu za kazi kutokana na wingi wa barua pepe tunazopokea.
        </p>
        <div>
            <p>UVCCM MBEYA <BR>SLP 158, MBEYA<BR>TANZANIA</p>
        </div>
    </div>
</div>

<!--Section: Contact v.2-->
{% endblock %}