{% extends "base.html" %}
{% block body %}
 <!--Section: Contact v.2-->
 <div class="container">
     <div class="row">
        <h1 class="h2">
            MWENYEKITI
        </h1>
        <p class="text-success">
            MOHAMED Z. MIPIKO
        </p>
         
     </div>
     <div class="row">
        <h1 class="h2">
            KATIBU
        </h1>
        <p class="text-success">
            ISSA NICHOLAUS MWAZEMBE
        </p>
         
     </div>
     <div class="row">
        <h1 class="h2">
            KATIBU HAMASA
        </h1>
        <p class="text-success">
            MANSOURY NGENZI
        </p>
     </div>
     <div class="row">
        <h1 class="h2">
            MJUMBE ITIKADI NA UENEZI
        </h1>
        <p class="text-success">
            EDWIN T. MSOMBA
        </p>
     </div>
     <div class="row">
        <h1 class="h2">
            MJUMBE UCHUMI NA FEDHA
        </h1>
        <p class="text-success">
            GLADNESS R. MSUYA
        </p>
         
     </div>
 </div>

<!--Section: Contact v.2-->
{% endblock %}