{% extends "base.html" %}
{% block body %}
 <!--Section: Contact v.2-->
 <div class="container p-5">
    <div>
        <h1 class="text-success fw-bold">
         MWENYEKITI
     </h1>
     <p class="lead">MOHAMED Z. MIPIKO</p>
    </div>
    <div>
        <h1 class="text-success fw-bold">
         KATIBU
     </h1>
     <p class="lead">ISSA NICHOLAUS MWAZEMBE</p>
    </div>
    <div>
        <h1 class="text-success fw-bold">
         KATIBU
     </h1>
     <p class="lead">MANSOURY NGENZI</p>
    </div>
    <div>
        <h1 class="text-success fw-bold">
        MJUMBE ITIKADI NA UENEZI
     </h1>
     <p class="lead">EDWIN T. MSOMBA</p>
    </div>
    <div>
        <h1 class="text-success fw-bold">
        MJUMBE UCHUMI NA FEDHA
     </h1>
     <p class="lead">GLADNESS R. MSUYA</p>
    </div>
 </div>

<!--Section: Contact v.2-->
{% endblock %}